*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --ff-allPage: 'Nunito', sans-serif;

    --fc-page: #ffffff;
}

body{
    font-size: 1.6rem;
    font-family: var(--ff-allPage);
    color: var(--fc-page);
    width: 100%;
    height: 100vh;

    background-image: url(../../src/images/fundo-site.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.page{
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 5rem 10rem 4rem;
}

.hide{
    display: none;
    opacity: 0;
}